<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">

  <targets>
    <target name="logconsole" xsi:type="ColoredConsole" layout="${message}${onexception:EXCEPTION\:${exception:format=tostring}}" useDefaultRowHighlightingRules="true"/>
    <target name="errorconsole" xsi:type="ColoredConsole" layout="${message}${onexception:EXCEPTION\:${exception:format=tostring}}" useDefaultRowHighlightingRules="true"  errorStream="true" />
  </targets>

  <rules>
    <logger name="*" maxLevel="Info" writeTo="logconsole" />
    <logger name="*" minLevel="Error" writeTo="errorconsole" />
  </rules>
</nlog>
